# Lists

Here is a list ["Hello", "I", “Michel”, “am”]

    1. Store this list in a variable we'll call michel
    2. Make a loop so that the console returns each of the items in the list

In [91]:
michel = ['Hello', 'I', 'Michel', 'am']
for i in michel:
    print(i)

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

In [5]:
temp = michel[2]
michel[2] = 'am'
michel[3] = 'Michel'
print(michel)

['Hello', 'I', 'am', 'Michel']

In [101]:
michel = ['Hello', 'I', 'Michel', 'am']
first_name = michel.pop(2)
print(first_name)
michel.append(first_name)
print(michel)

Michel
['Hello', 'I', 'am', 'Michel']

Here's a list of ages: [12, 16, 34, 58, 9].

    1. Store this age list in a variable that we'll call: 



```
age
```



    2. We would like this list to be arranged in ascending order, how do we do that?

In [42]:
age = [12, 16, 34, 58, 9]
temp = [1, 2, 3, 4, 5]

for i in range(1, 5):
    temp[i] = age[i-1]
    
temp[0] = age[4]
age = temp
print(age)

[9, 12, 16, 34, 58]

In [99]:
age = [12, 16, 34, 58, 9]
order = age.pop(4)
print(order)
age.insert(0, order)
print(age)

9
[9, 12, 16, 34, 58]

In [104]:
age = [12, 16, 34, 58, 9]
age.sort()
print(age)

[9, 12, 16, 34, 58]

# Dictionaries

We told you that dictionaries are very useful with APIs, so let's try to use the Star Wars API.

    1. In your text editor, write:
    


```
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()
```

    2. This will make it possible to call the Star Wars API to store it on a dictionary format in a variable called _dic_.
    
    3. See what's in the dictionary via a loop
    
    4. We'd like to make a nice phrase to describe the character like this: 
    
    “{{name}} is {{height}} cm tall and weighs {{mass}} kg. He was born in {{birth_year}}”

In [59]:
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()

print(dic.items())

dict_items([('name', 'Luke Skywalker'), ('height', '172'), ('mass', '77'), ('hair_color', 'blond'), ('skin_color', 'fair'), ('eye_color', 'blue'), ('birth_year', '19BBY'), ('gender', 'male'), ('homeworld', 'http://swapi.dev/api/planets/1/'), ('films', ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/6/']), ('species', []), ('vehicles', ['http://swapi.dev/api/vehicles/14/', 'http://swapi.dev/api/vehicles/30/']), ('starships', ['http://swapi.dev/api/starships/12/', 'http://swapi.dev/api/starships/22/']), ('created', '2014-12-09T13:50:51.644000Z'), ('edited', '2014-12-20T21:17:56.891000Z'), ('url', 'http://swapi.dev/api/people/1/')])

In [94]:
for i in dic.items():
    print(i)

('name', 'Luke Skywalker')
('height', '172')
('mass', '77')
('hair_color', 'blond')
('skin_color', 'fair')
('eye_color', 'blue')
('birth_year', '19BBY')
('gender', 'male')
('homeworld', 'http://swapi.dev/api/planets/1/')
('films', ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/6/'])
('species', [])
('vehicles', ['http://swapi.dev/api/vehicles/14/', 'http://swapi.dev/api/vehicles/30/'])
('starships', ['http://swapi.dev/api/starships/12/', 'http://swapi.dev/api/starships/22/'])
('created', '2014-12-09T13:50:51.644000Z')
('edited', '2014-12-20T21:17:56.891000Z')
('url', 'http://swapi.dev/api/people/1/')

In [69]:
dic['name']

'Luke Skywalker'

In [105]:
a = dic['name']
b = dic['height']
c = dic['mass']
d = dic['birth_year']
print("{} is {} cm tall and weighs {} kg. He was born in {}.".format(dic['name'], b, c, d))

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY.

# Slices

 We have the following dataset: ` kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`
 
    1. This variable represents a list of kilometres travelled every morning by 8 users to work.
    2. Using a loop, calculate the total average of all the users' trips
    3. Is this average representative of what all individuals really go through? Why do you think so?

In [116]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]
kilometres_travelled.remove(1000)
print(kilometres_travelled)

total = 0
length = 0 

for km in kilometres_travelled:
    total = total + km
    length = length + 1

average = total / length

print("The average km traveled is {} km".format(round(average, 2)))

[50, 10, 100, 25, 21, 12, 30]
The average km traveled is 35.43 km

    4. Change the variable kilometers_travelled to have a more representative average

In [93]:
kilometres_travelled[4] = average